.projects-container {
    .project-div {
        // margin: 10px 0 10px 0;

        .card-img-top {
            height: 30vw;
            width: 100%;
            object-fit: cover;
        }

        @media (max-width: 550px) {
            .card-img-top {
                height: 60vw;
            }
        }
    }
}