// $theme-1: #3C403D;
// $theme-2: #39603D;
// $theme-2-link: #468b4d;
// $theme-3: #A3BCB6;
// $theme-4: #DADED4;
// $theme-4-link: #edffd3;
// $theme-5: #FFFFFF;

$theme-1: #3C403D;
$theme-2: #FFFFFF;
$theme-2-link: #3C403D;
$theme-3: #FFFFFF;
$theme-4: #FFFFFF;
$theme-4-link: #FFFFFF;
$theme-5: #FFFFFF;

$card-border-radius: 10px;
$main-div-padding-top: 20px;
$body-background-color: $theme-4;
$footer-background-color: $theme-4;
$footer-height: 140px;
$footer-margin-top: 20px;
$navbar-height: 56px;
