@import "variables";

body {
    width: 100%;
}

.main-div {
    margin: auto;
    padding-top: 20px;
    position: relative;
}

.page-container {
    width: 100%;
    // margin: 0 auto;
    min-height: calc(100vh - #{$footer-height} + #{$navbar-height});
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: $footer-height;
}

/* Routing animation */
.anim-page-enter {
    opacity: 0;
}

.anim-page-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}

.anim-page-exit {
    opacity: 1;
}

.anim-page-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}


.tag-container {
    margin-top: -0.5rem;
    margin-bottom: 10px;

    .tag {
        display: inline-block;
        margin: 5px;
        border-radius: 10rem;
        border: 1px solid gray;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
        font-size: 14px;
    }
}

.col {
    .card {
        transition: box-shadow 0.2s;
    }

    .card:hover {
        -moz-box-shadow: 4px 4px 2px rgba(34, 34, 34, 0.25);
        -webkit-box-shadow: 4px 4px 2px rgba(34, 34, 34, 0.25);
        box-shadow: 4px 4px 2px rgba(34, 34, 34, 0.25);
    }
}

