@import "variables";

body {
    width: 100%;
}

.main-div {
    margin: auto;
    padding-top: 20px;
    position: relative;
}

.page-container {
    width: 100%;
    // margin: 0 auto;
    min-height: calc(100vh - #{$footer-height} + #{$navbar-height});
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: $footer-height;
}

/* Routing animation */
.anim-page-enter {
    opacity: 0;
}

.anim-page-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}

.anim-page-exit {
    opacity: 1;
}

.anim-page-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
