@import "variables";

body {
    width: 100%;
    background-color: $body-background-color;
    color: $theme-1;
    font-family: "Computer Modern", sans-serif;
}

// h1, h2, h3, h4, h5, h6 {
// }

.main-div {
    margin: auto;
    padding-top: $main-div-padding-top;
    position: relative;

    a {
        text-decoration: none;
        font-weight: bold;
        color: $theme-2-link;
        transition: background-color 0.2s, color 0.2s;
    }

    a:hover {
        background-color: $theme-1;
        color: $theme-4;
    }
}

.page-container {
    width: 100%;
    // margin: 0 auto;
    min-height: calc(100vh - #{$footer-height} + #{$navbar-height});
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: $footer-height;
}

.tag-container {
    margin-top: -0.5rem;
    margin-bottom: 10px;

    .tag {
        display: inline-block;
        margin: 5px;
        border-radius: 10rem;
        border: 1px solid gray;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
        font-size: 14px;
    }
}

.col {
    .card {
        // transition: margin-top 0.2s;
    }

    .card:hover {
        // margin-top: -10px;
    }
}

/* Routing animation */
.anim-page-enter {
    opacity: 0;
}

.anim-page-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}

.anim-page-exit {
    opacity: 1;
}

.anim-page-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}