@import "../../../styles/variables";

.project-info-container {
    .project-info-background {
        background-image: linear-gradient($theme-4, $theme-5, $theme-4);
    }
    .project-title-container {
        display: flex;
        align-items: center;

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 10px;
        }
        
        .button-icon {
            text-align: center;
            position: relative;
            background-color: black;
            border-radius: 2px;
            color: #fff;
            border: white;
            padding: 2px 4px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button-icon:hover {
            opacity: 0.7;
        }
    }
    .cover-photo-container {
        margin: 2em 0 2em 0;

        .cover-photo {
            margin: auto;
            display: block;
            max-width: 60%;
        }
    }
}