@import "../../../styles/variables";

.footer-container {
    position: relative;
    margin-top: -$footer-height + $footer-margin-top;
    background-color: $footer-background-color;
    height: $footer-height;
    padding-top: 30px;
    width: 100%;
    text-align: center;

    .footer-text {
        font-size: 20px;

        span {
            font-weight: bold;
        }
    }

    .social-container {
        padding-top: 10px;

        .social-icon {
            margin: 5px;
        }
    }
}

